@import-normalize;

html {
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: #F2F2F2;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 1174px;
  padding: 0 10px;
  margin: 0 auto;
  flex: 1 0 auto;
}
