.chatItem {
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #E7E9ED;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 20px 52px;
  box-sizing: border-box;
  text-decoration: none;
}

.productName {
  font-size: 15px;
  line-height: 22px;
  height: 22px;
  color: #131314;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.messageTime {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #97a3b4c8;
  margin: 0;
  display: inline-block;
  text-align: right;
}

.lastMessage {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  height: 22px;
  color: #97A3B4;
  word-wrap: wrap;
  word-break: break-word;
  overflow: hidden;
}
